* {margin: 0px; padding: 0px;}


.container{
  max-width:500px;
  max-height:500px;
  margin: 0 auto;
  top: 25px;
  position: relative;
  font-size: 0;
  border: 1px solid black;
}
.sketch {
  display:inline-block;
  margin: 0;
}

button, form , input, p{
  border: none;
  display: inline;
  font-size: 12px;
}

.buttonholder, .info {
  text-align: center;
  margin: 0 auto;
  list-style-type: none;
  top: 35px;
  position: relative;
  min-width: 500px;
}

p {
  background-color: #abeac0;
  padding-left: 25px; padding-right: 25px;
}
